{% load static %}
{% static "images" as baseUrl%}

  
  <!-- footer section -->
  <section class="footer_section ">
    <p>
      &copy; 2022 All Rights Reserved. Design by
      <a href="https://alvin254.netlify.app" target="_blank">Alvin</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>