{% load static %}
{% static "images" as baseUrl%}

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <div class="fk_width" id="">
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{% static 'index.html' %}">Home</a>
                <a href="{% static 'about.html' %}">About</a>
                <a href="{% static 'package.html' %}">Packages</a>
                <a href="{% static 'testimonial.html' %}">Testimonial</a>
              </div>
            </div>
          </div>
          <a class="navbar-brand" href="{% static 'index.html' %}">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </a>
          <div class="user_option">
            {% if user.is_authenticated %}
              <a href="accounts/register">
                <img src="{% static 'images/user-icon.png' %}" alt="" />
                Hello {{user.first_name}}
                <a href="accounts/logout">Logout</a>
              </a>
            {% else %}
              <a href="accounts/login">
                <img src="{% static 'images/user-icon.png' %}" alt="" />
                Login/Register
              </a>
            {% endif %}
            <form class="form-inline my-2 my-lg-0  mb-3 mb-lg-0">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
            
          </div>
        </nav>
      </div>
    </header>
